{% extends '@layout/site_layout.twig' %}

{% block title %} 500 | Server error  {% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col">
            <div class="alert alert-danger text-center">
                <h2><i class="fa-solid fa-triangle-exclamation"></i> Sorry, our servers presenting some errors.</h2>
            </div>
        </div>
    </div>

{% endblock %}
