{% extends '@layout/layout.twig' %}

{% block title %} 404 | Page not found  {% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col">
            <div class="alert alert-warning text-center">
                <h2>Ooooops! Sorry, we can't found the page that you resquested.</h2>
            </div>
        </div>
    </div>

{% endblock %}
